@media only screen and (min-width: 375px) {
  body {
    background-image: url("/img/edm.png");
    background-size: 100vh;
    background-position: center;
  }
  .title-section {
    margin-top: 200px;
  }
  .title-h {
    font-size: 88px;
  }
  .desc {
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
  }
  #col-row {
    margin-top: 200px;
  }
  .f-text {
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
  }
}
@media only screen and (min-width: 1280px) {
  body {
    padding-left: 40px;
    padding-right: 40px;
    background-image: url("/img/edm.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .title-section {
    margin-top: 100px;
  }
  .title-h {
    font-size: 60px;
  }
  .desc {
    font-size: 30px;
    margin-top: 60px;
    text-align: left;
  }
  #col-row {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  #column {
    padding-left: 100px;
  }
  .f-text {
    font-size: 20px;
    margin-bottom: 100px;
    text-align: center;
  }
}

body {
  margin: 0;
}
#a,
#s,
#d,
#f,
#g,
#h,
#j,
#k,
#l {
  display: table;
  width: 200px;
  height: 200px;
  background-color: rgba(104, 104, 104, 0.658);
  border-radius: 20px;
  margin-top: 20px;
}
.d-shadow {
  box-shadow: 2px 2px 8px 2px rgb(214, 154, 42);
}
.dn-shadow {
  box-shadow: none;
}
.btns {
  display: table-cell;
  vertical-align: middle;
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  text-align: center;
  color: white;
}

.title-h {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  color: white;
}
.desc {
  font-family: "Poiret One", cursive;
  color: white;
}
.f-text {
  font-family: "Poiret One", cursive;
  color: white;
}
.f-text a {
  color: white;
}
